<template name="recipesSingle">

  <li class="recipe-item {{#if inMenu}} recipe-item--in-menu {{/if}}">
    <div class="recipe-item__status">
      <i class="fa fa-check-circle" aria-hidden="true"></i>
    </div>
    <div class="recipe-item__info">
      <div class="head">
        {{title}}
        <span class="price">
          {{price}}$
        </span>
      </div>
      <p class="description text-muted">
        {{description}}
      </p>
      <a href="{{pathFor 'updateRecipe'}}">Edit Recipe</a>
    </div>
  </li>

</template>
